html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

u {
  cursor: pointer;
}

.ripple-logo {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  background-color: black;
  border-radius: 50%;
  animation: ripple 1.5s ease-out infinite;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(3);
  }
}

.center {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5em;
}

.h2-center {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.5em;
}

.input-text {
  margin-top: 20px;
  margin-right: 20px;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #005c61;
}

.MuiFormLabel-root {
  color: #005c61 !important;
}

.MuiInputBase-root {
  background-color: white;
}

.MuiButton-root {
  color: #005c61 !important;
}

.MuiButton-outlined {
  border-color: #005c61 !important;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/asset/font/Inconsolata/Inconsolata-Regular.ttf');
}

@font-face {
  font-family: 'Squada-One';
  src: url('/asset/font/Squada_One/SquadaOne-Regular.ttf');
}

@font-face {
  font-family: 'Electrolize';
  src: url('/asset/font/Electrolize/Electrolize-Regular.ttf');
}

h1, h2, h3, h4 {
  font-family: Electrolize, sans-serif;
  font-weight: 600
}

div, p, a {
  font-family: Inconsolata, sans-serif;
  font-weight: 200;
}

p {
  font-size: 1.5rem;
}

.MuiTypography-root {
  font-family: Electrolize, sans-serif;
  font-weight: 600;
  font-size: 1.5rem
}

.MuiTypography-body1 {
  font-family: Electrolize, sans-serif;
  font-weight: 600;
  font-size: 1.7rem
}

.MuiTypography-body2 {
  font-family: Inconsolata, sans-serif;
  font-weight: 200;
  font-size: 1rem;
}

.MuiList-root {
  font-size: 1.5rem;
  font-family: Electrolize, sans-serif !important;
}





